@font-face {
    font-family: "hallymMyeongjo";
    font-weight: 400;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/hallymGothic/hallymGothic-Regular.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/hallymGothic/hallymGothic-Regular.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/hallymGothic/hallymGothic-Regular.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/hallymGothic/hallymGothic-Regular.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/hallymGothic/hallymGothic-Regular.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "hallymMyeongjo";
    font-weight: 700;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/hallymGothic/hallymGothic-Bold.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/hallymGothic/hallymGothic-Bold.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/hallymGothic/hallymGothic-Bold.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/hallymGothic/hallymGothic-Bold.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/hallymGothic/hallymGothic-Bold.ttf") format("truetype");
    font-display: swap;
}
.hallymMyeongjo {
    font-family: "hallymMyeongjo";
}
.hallymMyeongjo400 {
    font-family: "hallymMyeongjo";
    font-weight: 400;
}
.hallymMyeongjo700 {
    font-family: "hallymMyeongjo";
    font-weight: 700;
}